{% extends "base.html" %}

<!-- 填充 content -->
{% block content %}

<!-- 处理错误信息 -->
{% if err %}
<div class="alert alert-danger" role="alert">
  <p class="mb-0">{{ err }}</p>
</div>
{% endif %}

<form action="/user/login" method="POST">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">昵称</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="nickname" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">密码</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" name="password" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <button class="btn btn-primary">登录</button>
    </div>
  </div>
</form>
{% endblock %}
