<!DOCTYPE html>
<html>
  <head>
    <title>迷你微博</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />

    <style>
      .navbar-pad {
        margin-bottom: 20px;
      }
      .footbar {
        margin-top: 50px;
      }
    </style>
  </head>

  <body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-pad">
      <a class="navbar-brand" href="/">
        <img src="/static/img/logo.png" width="30" />
        迷你微博
      </a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if request.path == '/weibo/index' %}active{% endif %}">
            <a class="nav-link" href="/">首页</a>
          </li>
          <li class="nav-item {% if request.path == '/weibo/follow_weibo' %}active{% endif %}">
            <a class="nav-link" href="/weibo/follow_weibo">关注的微博</a>
          </li>

          <li class="nav-item {% if request.path == '/user/fans' %}active{% endif %}">
            <a class="nav-link" href="/user/fans">粉丝列表</a>
          </li>
        </ul>

        <div>
          {% if 'uid' in session %}
          <a class="btn btn-outline-success" href="/weibo/post">发布微博</a>
          <a class="btn btn-outline-primary" href="/user/info">{{ session.nickname }}</a>
          <a class="btn btn-outline-warning" href="/user/logout">退出</a>
          {% else %}
          <a class="btn btn-outline-primary" href="/user/register">注册</a>
          <a class="btn btn-outline-success" href="/user/login">登录</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <!-- 容器 -->
    <div class="container">
      <div class="row">
        <!-- 内容区 -->
        <div class="col-8">{% block content %}{% endblock %}</div>

        <!-- 边栏区 -->
        <div class="col-4">{% block sidebar %}{% endblock %}</div>
      </div>
    </div>

    <!-- 底栏 -->
    <div class="container footbar">
      <div class="text-center text-secondary">肥猫警长</div>
    </div>

    <script src="/static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
